.homePageMenu {
  float: left;
  width: 500px;
  background-color: #CCCCCC;
  border: 1px solid #E3E3E3;
}

.rightFloater {
	float: right;
}

.leftFloater {
	float:left;
}

.bottomAbsolute {
	position: absolute;
	bottom: 0;
}