.gametable-data-row {
}

.gametable-icon-cell {
	margin: auto;
}

.gametable-name-cell {
	text-align: left;
}

.gametable-bid-cell {
	text-align: center;
}

.gametable-won-cell {
	text-align: center;
}

.gametable-score-cell {
	text-align: center;
}