body {
  background-color: #F4F3F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-player-row {
  background-color: DarkSlateGray;
  color: White;
  cursor: pointer;
}

.non-selected-player-row {
  background-color: White;
  color: DarkSlateGray;
  cursor: pointer;
}